#banner {
	
	
	
	width: 800px;
	height: 700px;
	
	margin: auto;
	margin-top: -12px;
	background-image: url('image/banner.jpeg');
	background-position-x: left 0px;
	background-position-y: top -277px;
	background-size: 800px 450px;
	background-repeat: no-repeat;
	background-color:#AFE1AF;
	box-shadow:0 0 0 5px #ccc;
	
	
	
	
}

#business_search{
    font-size: 36px;
	padding-top: 38px;
	font-family: Roboto;
}
#fill_out{
    font-size: 28px;
	margin-top: 10px;
	font-family: Roboto;
	font-weight: 100;
	
}


body{
    background-color: #e6e6e6;
}

input[type=text]:focus {
  border: 2px solid black;
}

input[type=text] {
   outline: none;
}

.banner_text{
	margin-left: 51px;
	margin-top: 35px;
	color: white;
	
}

#form_container {
	margin-top: 50px;
	font-family: Roboto;
	
	margin-left: 52px;
	
	
	
	border-color:red;
	border-style:solid;
	border-width: 1px;
	
	
}

.asterisk{
	position: relative;
    top: -8px; /* This will move it 20px up */
	left:2px;
    color:#e60000;
	font-family: Roboto;
	font-size:12px;
}

.form_title{
	color:		#3939c6;
	font-family: Roboto;
	font-size: 22px;
}

.form_search_bar{
	padding: 6px 14px;
	width: 676px;
	margin-top: 10px;
	border: 2px solid  #e6e6e6;
	
}