#banner {
	
	
	
	width: 800px;
	height: 700px;
	
	margin: auto;
	margin-top: -12px;
	background-image: url('image/banner.jpeg');
	background-position-x: left 0px;
	background-position-y: top -277px;
	background-size: 800px 450px;
	background-repeat: no-repeat;
	background-color: #AFE1AF;
	box-shadow:0 0 0 5px #ccc;
	
	
	
}

#business_search{
    font-size: 36px;
	padding-top: 38px;
	font-family: Roboto;
}
#fill_out{
    font-size: 28px;
	margin-top: 10px;
	font-family: Roboto;
	font-weight: 100;
	
}


body{
    background-color: #e6e6e6;
}

.banner_text{
	margin-left: 51px;
	margin-top: 35px;
	color: white;
	
}