.bg-blur {
  backdrop-filter: blur(10px);
}

#title {
  font-family: Noto Serif JP;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-top: 0.1rem solid white;
}

.star::after {
  position: absolute;
  content: "*";
  color: red;
  font-size: 1rem;
  margin-top: 0rem;
  margin-left: 0.4rem;
}

.custom-hr {
  width: 92%;
}
