#about, #projects, #services {
	font-weight: bold;}

#menu {
	font-family: Helvetica;
	font-weight: bold;
	display: inline-block;
	text-transform: uppercase;}
	
#lawyer{
	 margin-left: -15px;
	 image-resolution: 72dpi;
	 display:block;
	 
}

#container {
  position: relative;
  
}


/* Bottom right text */
.slogan1 {
  font-family: Helvetica;
  position: absolute;
  top: 165px;
  left: 160px;
  background-color: black;
  color: white;
  padding-left: 50px;
  padding-right: 185px;
  padding-bottom: 100px;
  line-height: 0.3;
  background-color: #1C4668;
 }
