#about, #projects, #services {
	font-weight: bold;}

#menu {
	font-family: Helvetica;
	font-weight: bold;
	display: inline-block;
	text-transform: uppercase;}
	
#lawyer{
	 margin-left: -15px;
	 image-resolution: 72dpi;
	 display:block;
	 
}

#links{
	display:inline-block;
}

#links li {
display: inline;
margin-right: 10px;
}

#container {
  position: relative;
}

.slogan1 {
  font-family: Helvetica;
  position: absolute;
  top: 165px;
  left: 160px;
  color: white;
  padding-top: 50px; 
  padding-left: 50px;
  padding-right: 42px;
  padding-bottom: 283px;
  line-height: 0.3;
  background-color: #1C4668;
 }

.slogan1 h1{
	 font-size: 42px;
}

.slogan2 {
  font-family: Helvetica;
  position: absolute;
  top: 290px;
  left: 50px;
  color: black;
  background-color: white;
 }