#banner {
	
	
	
	width: 800px;
	height: 715px;
	
	margin: auto;
	margin-top: -12px;
	background-image: url('image/banner.jpeg');
	background-position-x: left 0px;
	background-position-y: top -277px;
	background-size: 800px 450px;
	background-repeat: no-repeat;
	background-color: white;
	box-shadow:0 0 0 5px #ccc;
	
	
	
	
}

#business_search{
    font-size: 36px;
	padding-top: 38px;
	font-family: Inter Tight ;
}
#fill_out{
    font-size: 28px;
	margin-top: 10px;
	font-family: Inter Tight ;
	font-weight: 100;
	
}


body{
    background-color: #e6e6e6;
}

input[type=text]:focus {
  border: 2px solid black;
}

input[type=text] {
   outline: none;
}

.banner_text{
	margin-left: 51px;
	margin-top: 35px;
	color: white;
	
}

#form_container {
	margin-top: 70px;
	font-family: Inter Tight ;
	margin-left: 52px;
	width:708px;
}

.asterisk{
	position: relative;
    top: -8px; /* This will move it 20px up */
	left:2px;
    color:#e60000;
	font-family: Inter Tight ;
	font-size:12px;
}

.form_title{
	color:		#3939c6;
	font-family: Inter Tight ;
	font-size: 22px;
	margin-top: 25px;
}

.form_search_bar{
	padding: 6px 14px;
	margin-top: 10px;
	border: 2px solid  #e6e6e6;
	font-size: 1em;
	height: 1rem;
	border-color: #ccc;
	
}

#category_bar{
	height: 2.05rem;
	background: white;
	max-width: 90%;
	
}

#keyword, #locations{
	width: 676px; 
	
 }
 
#distance{
	width: 175px; 
	padding: 6px 3px; 
	
 }
 
#search_bar_marginTop, #location_marginTop{
	margin-top: 25px;
	
}

#category{
	padding-left: 221px;
	
}

#category_bar{
	margin-left:190px;
	width: 329px;
	
}

#hr_line{
	color: #8c8c8c;
	margin-top: 32px;
}

#auto_detect{
	font-size: 26px;
}

#check_box{
	width: 20px;
    height: 20px;
	
}

.buttons{
	margin-top: 16px;
	padding: 18px 32px;
	color: white;
	border: none;
	font-size: 24px;
	font-family: Quicksand ;
	
}

#submit{
	
	background: linear-gradient(180deg, #5369ac 90%, #001a66 10%);
}

#clear{
	padding: 18px 37px;
	background: linear-gradient(180deg, #f9bc06 90%, #ff950a 10%);
}

#submit:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
	
}

#clear:hover {
    box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.1);
}

#submit:active {
	border-style: solid;
	border-color: black;
	border-width: 2px;
	padding: 16px 30px;

}

#clear:active {

	border-style: solid;
	border-color: black;
	border-width: 2px;
	padding: 16px 35px;
}



#table{
	margin-left: 275px;
	margin-top: 175px;
	border-collapse: collapse;
	width:1345px;
	font-family: Inter Tight;
    font-size: 24px;
	
}

#first_columns_width{
	width:70px;
	
}

#second_columns_width{
	width:145px;
	
}

#third_columns_width{
	width:700px;
	
}

#fourth_columns_width{
	width:200px;
}

#fifth_columns_width{
	width:203px;
	
}

#first_row_height{
	
	height:70px;
	
}

.rows_height{
	height:160px;
}

#table th {
  background-color: #5369ac;
  
}

#table tr {
  background-color: white;
  
}

#table td, #table th {
  border: 1px solid #e6e6e6;
 
}

.yelp_image {
 object-fit: cover;
 width: 100%;
 height: 140px;
}

.table_text{
	color:black;
	text-align: center;
	font-family: Quicksand ;
}

#card{
	border:1px solid #cccccc;
	height: 1300px;
	width: 1095px;
	margin-left: 425px;
	margin-top: 35px;
	background: white;
	
}

.card_font{
	font-family: Lato;
	font-size: 32px;
	font-weight: bold;
}

.card_small_font{
	font-family: Inter Tight;
	font-size: 20px;
	
}


#name_title{
	text-align: center;
	margin-top: -1250px;
	
}

#status_title_container{
	margin-left: 450px;
	margin-top: 61px;
	position:absolute;
	
	
}

#status_box_open{
	height: 50px;
	width: 115px;
	text-align: center;
	background-color: green;
	line-height: 50px;
	margin-left: 450px;
	margin-top: 105px;
	border-radius: 20px;
	position:absolute;
	
}

#status_box_closed{
	height: 50px;
	width: 115px;
	text-align: center;
	background-color: red;
	line-height: 50px;
	margin-left: 450px;
	margin-top: 105px;
	border-radius: 20px;
	position:absolute;
	border-top: 1px solid black;
    border-left: 1px solid black;
	border-right:2px solid 	#b30000;
	border-bottom: 2px solid #b30000;
}

#status_text{
	color:black;
	font-family: Lato;
	font-size: 20px;
}

#category_title_container{
	margin-left: 940px;
	margin-top: 61px;
	position:absolute;
	
}

#category_container{
	margin-left: 940px;
	margin-top: 106px;
	position:absolute;
	
}

#address_title_container{
	margin-left: 450px;
	margin-top: 200px;
	position:absolute;
}

#address_container{
	margin-left: 450px;
	margin-top: 245px;
	position:absolute;
}

#phone_title_container{
	margin-left: 940px;
	margin-top: 200px;
	position:absolute;
	
}

#phone_container{
	margin-left: 940px;
	margin-top: 245px;
	position:absolute;
}

#transactions_title_container{
	margin-left: 450px;
	margin-top: 328px;
	position:absolute;
}

#transactions_container{
	margin-left: 450px;
	margin-top: 373px;
	position:absolute;
}

#price_title_container{
	margin-left: 940px;
	margin-top: 328px;
	position:absolute;
}

#price_container{
	margin-left: 940px;
	margin-top: 373px;
	position:absolute;
}

#more_info_url_title_container{
	margin-left: 450px;
	margin-top: 450px;
	position:absolute;
	
}

#more_info_url_container{
	margin-left: 450px;
	margin-top: 494px;
	position:absolute;
	
}

.card {
  position:absolute;
  width: 340px;
  height: 500px;
 
  margin-top: 574px;
  
 }
 
 #card1{
 margin-left: 450px;
  border: 1px solid #cccccc;
 
 }
 
 #card2{
 margin-left: 805px;
 border: 1px solid #cccccc; 
 }
 
#card3{
 margin-left: 1155px;	
 border: 1px solid #cccccc; 
 }



.container {
  padding: 2px 16px;
}

.yelp_card_size {
 object-fit: cover;
 max-width: 100%;
 max-height: auto;
}

#hr_line{
	width: 51.5%;
	color: #e6e6e6;
	
}

.photos{
	
	position:absolute;
    bottom: 0; 
    left:0%;
    margin-left:135px;
	font-family: Lato;
	font-size: 24px;
}