
<div class="container pt-0 pt-sm-5">
  <div class="mt-5 pt-4 mx-auto w-sm-75 ch h-sm-100 bg-dark bg-opacity-75 bg-blur rounded-4">
    <h2 class="text-center text-white pt-3 fs-1" id="title">Events Search</h2>
    <hr class="mx-auto custom-hr mt-4" />

    <form class="w-100 h-75 fs-5 pt-0 pt-sm-3" id="search_form" (ngSubmit)="onSubmit()" ngNativeValidate>
      <div class="mb-3 mb-sm-5 ms-3 ms-sm-5 col-11">
        <label for="keyword_input" class="form-label text-info fs-5 star">Keyword</label>
        <input type="text" class="form-control form-control-lg" id="keyword_input" [(ngModel)]="keyword_input" name="keyword" required />
      </div>

      <div class="mb-3 mb-sm-5">
        <div class="row gx-5">
          <div class="col-11 col-sm-6 ms-3 ms-sm-5 mb-3 mb-sm-0">
            <label for="distance_input" class="form-label text-info fs-5">Distance</label>
            <input type="number" class="form-control form-control-lg " id="distance_input" [(ngModel)]="distance_input" name="distance" />
          </div>
          <div class="col-sm-5 ms-3 ms-sm-5">
            <label for="category_input" class="form-label text-info fs-5 star">Category</label>

            <select class="form-select form-select-lg w-75" [(ngModel)]="category_input" name="category">
              <option value="Default" selected>Default</option>
              <option value="Music">Music</option>
              <option value="Sports">Sports</option>
              <option value="Arts & Theatre">Arts & Theatre</option>
              <option value="Film">Film</option>
              <option value="Miscellaneous">Miscellaneous</option>
            </select>
          </div>
        </div>
      </div>

      <div class="mb-3 ms-3 ms-sm-5 col-11">
        <label for="location_input" class="form-label text-info fs-5 star">Location</label>
        <input type="text" class="form-control form-control-lg" id="location_input" [(ngModel)]="location_input" name="location" 
		[disabled]="checkbox_input" required />
      </div>

      <div class="form-check text-info mt-4 ms-3 ms-sm-5">
        <input class="form-check-input" type="checkbox" id="cb" name="cb" [(ngModel)]="checkbox_input" (change)="onCheckboxChange()" />
        <label class="form-check-label fs-5" for="cb">Auto-detect your location</label>
      </div>

      <div class="mt-4 mt-sm-5 d-flex justify-content-center">
        <div class="row gx-4">
          <div class="col-6">
            <button class="btn btn-danger btn-lg" type="submit">SUBMIT</button>
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-primary btn-lg" (click)="onClear()">CLEAR</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>


