


.container{
	border-style: solid;
	border-color: red;
	background-color:yellow;
	
}

@media (max-width: 575.98px) { 
	.container{
        max-width: 364px;
		height: 672px;
    }
}

@media (min-width: 575.98px) { 
	.container{
        max-width: 500px;
    }
}


