.container{
	border-style: solid;
	border-color: #ced4da;
    border-width: thin;
	border-radius: 15px;
}

#form_title{
	color:black;
	font-family: NunitoSans;
	font-weight: bold;
}

#keyword_text, #distance_text, #category_text{
	color:black;
	font-family: NunitoSans;
	
}





.asterisk{
    font-family: NunitoSans;
    color:red;
	
}

#asterisk2{
	margin-left:5px;
}



@media  (max-width:576px){
	
	#distance_input{
		display:none;
	}
	
	#distance_input2{
		display:block;
	}
}

@media  (min-width:576px){
	
	#distance_input{
		display:block;
	}
	
	#distance_input2{
		display:none;
	}
}