.container{
	border-style: solid;
	border-color: #ced4da;
    border-width: thin;
	border-radius: 15px;
}

#form_title{
	color:black;
	font-family: NunitoSans;
	font-weight: bold;
}

#keyword_text, #distance_text, #category_text{
	color:black;
	font-family: NunitoSans;
	
}





.asterisk{
    font-family: NunitoSans;
    color:red;
	
}

#asterisk2{
	margin-left:5px;
}

.coldfvxd{
	border-style: solid;
	border-color: red;
}
