@media (min-width: 576px) {
    .ch {
      height: 10vh;
    }
  }
  
  @media (max-width: 575px) {
    .ch {
      height: 80vh;    
    }
  }

  .bg-blur {
    backdrop-filter: blur(10px);
  }

  .title-width {
    width: 85%;
  }

  .mat-mdc-tab-group.mat-background-primary, .mat-mdc-tab-nav-bar.mat-background-primary {
    --mat-mdc-tab-header-with-background-background-color: #3E8E7B !important;
       
  }

  .subtitle_color{
    color: #80ECD8;
  }

  


 

  