<div class="bg-dark bg-opacity-50 bg-blur ch" #eventDetails>
  <button type="button" class="btn text-white bg-transparent text-decoration-underline border-0 ps-4 pt-4" (click)="this.back_to_table()">Back</button>
  <div class="container d-flex align-items-center justify-content-start ps-4 pt-3">
    <div class="title-width text-start">
      <h5 class="text-white">{{ event_title }}</h5>
    </div>
  </div>

  <mat-tab-group mat-align-tabs="center" backgroundColor="primary" class="pt-4">
    <mat-tab label="Events">
      <ng-container *ngIf="local_date !== ''">
        <div>
          <p class="subtitle_color text-center fs-5 fw-bold mt-4 mb-0">Date</p>
          <p class="text-center text-white fs-6 mb-0 mt-1">{{ local_date }} {{ local_time }}</p>
        </div>
      </ng-container>

      <div *ngIf="artist_or_team.length > 0">
        <p class="subtitle_color text-center fs-5 fw-bold mt-4 mb-0">Artist/Team</p>
        <div class="d-flex flex-wrap justify-content-center mt-1">
          <ng-container *ngFor="let artist_name of artist_or_team; let i = index">
            <p class="text-white fs-6 mb-0 me-2">{{ artist_name }}</p>
            <p *ngIf="i !== artist_or_team.length - 1" class="text-white fs-6 mb-0 pe-2">{{ ARTISTS_SEPARATOR }}</p>
          </ng-container>
        </div>
      </div>

      <ng-container *ngIf="venue !== ''">
        <div>
          <p class="subtitle_color text-center fs-5 fw-bold mt-4 mb-0">Venue</p>
          <p class="text-center text-white fs-6 mt-1 mb-0">{{ venue }}</p>
        </div>
      </ng-container>

      <ng-container *ngIf="genre !== ''">
        <div>
          <p class="subtitle_color text-center fs-5 fw-bold mt-4 mb-0">Genres</p>
          <p class="text-center text-white fs-6 mt-1 mb-0">{{ genre }}</p>
        </div>
      </ng-container>

      <ng-container *ngIf="price_range !== ''">
        <div>
          <p class="subtitle_color text-center fs-5 fw-bold mt-4 mb-0">Price Ranges</p>
          <p class="text-center text-white fs-6 mt-1 mb-0">{{ price_range }}</p>
        </div>
      </ng-container>

      <ng-container *ngIf="status !== ''">
        <div>
          <p class="subtitle_color text-center fs-5 fw-bold mt-4 mb-0">Ticket Status</p>
          <div class="d-flex justify-content-center mt-2">
            <span
              class="text-white text-center fs-6 rounded-3 mt-0 span-custom ps-2 pe-2 pt-1 pb-1"
              [class.bg-success]="status === 'On Sale'"
              [class.bg-danger]="status === 'Off Sale'"
              [class.bg-black]="status === 'Canceled'"
              [class.bg-warning]="status === 'Rescheduled' || status === 'Postponed'"
              >{{ status }}</span
            >
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="ticket_url !== ''">
        <div>
          <p class="subtitle_color text-center fs-5 fw-bold mt-4 mb-0">Buy Ticket At:</p>
          <p class="text-center mt-1">
            <a href="{{ ticket_url }}" class="text-primary fs-6" target="_blank" rel="noopener noreferrer">Ticketmaster</a>
          </p>
        </div>
      </ng-container>

      <ng-container *ngIf="seatmap_url !== ''">
        <div class="mt-4 mb-4">
          <img src="{{ seatmap_url }}" alt="Seatmap Image" class="img-fluid" />
        </div>
      </ng-container>

      <div class="d-flex justify-content-center align-items-center mt-4 mb-4">
        <p class="text-white fs-3 mb-0 pe-2">Share on:</p>
        <a href="https://twitter.com/intent/tweet?text=Check {{ event_title }} on Ticketmaster. {{ ticket_url }}" target="_blank" rel="noopener noreferrer">
          <fa-icon [icon]="twitter_icon" class="twitter_icon fa-3x pe-2"></fa-icon>
        </a>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ ticket_url }}&amp;src=sdkpreparse" target="_blank" rel="noopener noreferrer">
          <fa-icon [icon]="fb_icon" class="fb-icon fa-square fa-3x"></fa-icon>
        </a>
      </div>
    </mat-tab>

    <mat-tab label="Artist/Teams">
      <div id="carouselExampleControls" class="carousel slide carousel-dark">
        <div class="carousel-inner">
          <div *ngFor="let item of artist_name_spotify; let i = index" class="carousel-item" [ngClass]="{ active: i === 0 }">
            <img src="{{ artist_img_spotify[i] }}" class="img-fluid mx-auto d-block rounded-circle mt-3" alt="Artist's Spotify Image" />
            <p class="subtitle_color text-center fs-1 mt-1 mb-3">{{ artist_name_spotify[i] }}</p>
            <p class="subtitle_color text-center fs-2 mt-0 mb-2">Popularity</p>
            <div>
              <div class="d-flex justify-content-center mb-3">
                <div class="position-relative">
                  <mat-progress-spinner class="text-white" color="warn" [value]="artist_popularity_spotify[i]" [diameter]="40"></mat-progress-spinner>
                  <span class="spinner-value position-absolute top-50 start-50 translate-middle text-white fs-6">{{ artist_popularity_spotify[i] }}</span>
                </div>
              </div>
            </div>

            <p class="subtitle_color text-center fs-2 mt-0 mb-2">Followers</p>
            <p class="subtitle_color text-center fs-2 mt-0 mb-3">{{ artist_followersNum_spotify[i] }}</p>

            <p class="subtitle_color text-center fs-2 mt-0 mb-2">Spotify Link</p>
            <div class="d-flex justify-content-center">
              <a href="{{ artist_spotify_link[i] }}" target="_blank" rel="noopener noreferrer">
              <fa-icon [icon]="spotify_icon" class="spotify-icon fa-3x mx-auto"></fa-icon>
            </a>
            </div>

          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </mat-tab>

    <mat-tab label="Venue">
      <div class="bg-danger">Additional content for Overview tab</div>
    </mat-tab>
  </mat-tab-group>
</div>
