@media (min-width: 576px) {
    .ch {
      height: 10vh;
    }
  }
  
  @media (max-width: 575px) {
    .ch {
      height: 80vh;    
    }
  }

  .bg-blur {
    backdrop-filter: blur(10px);
  }

  .title-width {
    width: 85%;
  }