.bg {
  
  background-image: url("../assets/city.jpg");
  background-repeat: no-repeat;

  
  height: 100%; 

  
  background-position: center;
  background-size: cover;
}

.navbar-nav{
	list-style-type: none;
	
}

.navbar-brand{
	
	display:flex;
    text-align: center;
	font-size:16px;
	color: black;
	font-weight: 100;
	font-family: NunitoSans;
	background-color: white;
    margin-top:10px;
	
}

#bookings
{
  margin-right:44px;
  
}





.navbar-nav a.selected {
    border: 2px solid black;
	border-radius: 16px;
	padding-top:14px;
	padding-bottom: 14px;
	padding-left:8px;
	padding-right:8px;
	align-items: center;
    justify-content: center;
	margin-top:2px;
	margin-left:-8px;
}

