.bg {
  
  background-image: url("../assets/city.jpg");
  background-repeat: no-repeat;

  
  height: 100%; 

  
  background-position: center;
  background-size: cover;
}

.navbar-nav{
	list-style-type: none;
}

.navbar-brand{
	font-size:24px;
	color: black;
	font-weight: 100;
	font-family: Nanum Gothic;
	background-color: #ffffff;
    border: 2px solid #662D91;
}

.navbar-nav > li{
  margin-left:500px;
  margin-right:30px;
}

#test{
	color:red;
	padding-top:500px;
}

