body {
  background-image: url("../image/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -70px;
}

#form_container {
  width: 1085px;
  height: 643px;
  margin: auto;
  margin-top: 60px;
  background-color: rgb(166, 166, 166, 0.3);
  backdrop-filter: blur(15px);
  border-radius: 30px;
}

#title {
  color: white;
  text-align: center;
  padding-top: 20px;
  font-family: Noto Serif JP;
  font-size: 52px;
  font-weight: 100;
}

#hr_banner {
  height: 1px;
  border-width: 0;
  background-color: white;
  margin-top: -25px;
}

#keyword_title::after, #category::after, #location_title::after {
  position: absolute;
  content: "*";
  color: red;
  font-size: 18px;
  margin-top: 0px;
  margin-left: 2px;
}

.form_title {
  position: absolute;
  color: rgb(143, 210, 239);
  font-family: DM Sans;
  font-size: 25px;
}

#keyword_title {
  margin-top: 40px;
  margin-left: 30px;
}

.form_search_bar {
  padding: 6px 14px;
  margin-top: 10px;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid white;
  height: 40px;
}

#keyword {
  width: 992px;
  margin-top: 63px;
  margin-bottom: 14px;
  font-family: Roboto;
  color: white;
  font-size: 25px;
  font-weight: 100;
}

.input_center {
  text-align: center;
}

#distance_title {
  margin-left: 30px;
}

#category {
  margin-left: 545px;
}

#distance {
  margin-left: 30px;
  margin-top: 25px;
  width: 276px;
  color: white;
  font-size: 25px;
  font-weight: 100;
  font-family: Roboto;
}

#category_bar {
  
  margin-left: 204px;
  height: 54px;
  margin-top: 25px;
  width: 509px;
  font-family: Roboto;
  color: white;
  font-size: 25px;
  font-weight: 100;
}

select option {
  background: rgb(55, 55, 55);
  color: white;
}


input#distance::placeholder {
  font-size: 22px;
  font-weight: 100;
}

#location_title{
  margin-left: 30px;
  margin-top: 20px;
}

#auto_detect{
  
  color:white;
  font-family: DM Sans;
  color: white;
  font-size: 22px;
  font-weight: 100;
  margin-left: 179px;
}

#check_box{
  position: absolute;
	width: 18px;
  height: 18px;
	margin-left:152px;
  margin-top: 29px;
  
}
