<nav class="navbar navbar-expand">
	<div class="container-fluid">
	  <ul class="navbar-nav ms-auto pe-5">
		<li class="nav-item">
		  <a class="nav-link btn btn-link text-white fs-5 border border-white rounded-4" routerLink="/search">Search</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link btn btn-link  text-white fs-5 border border-white rounded rounded-4" routerLink="/favorites">Favorites</a>
		</li>
	  </ul>
	</div>
  </nav>

  <p class="fs-1 text-white text-center mt-5 pt-5 bg-dark">Favorite Place Holder</p>
