<nav class="navbar navbar-expand">
  <div class="container-fluid">
    <ul class="navbar-nav ms-auto pe-2">
      <li class="nav-item">
        <a class="nav-link btn btn-link text-white fs-3 pt-2 pb-2  ps-2 pe-2 me-0  rounded-4 me-sm-2 ps-sm-3 pe-sm-3" routerLink="/search" routerLinkActive="active">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-link text-white fs-3 pt-2 pb-2  ps-2 pe-2 me-0 rounded-4 me-sm-3 ps-sm-3 pe-sm-3" routerLink="/favorites" routerLinkActive="active">Favorites</a>
      </li>
    </ul>
  </div>
</nav>
